<!--<div class="row">
    <div class="bs-component">
        <div class="list-group">-->
            <div ng-repeat="product in products">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" width="160" height="120" src="../../../images/default.jpg" />
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">
                                    {{product.Name}}
                                </h3>
                                <p>{{product.Description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>
    </div>
</div>-->
