<style>
    .modal-login .form-control {
        padding-left: 5px;
    }
</style>
<div class="modal-fade">
    <div class="modal-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Payment Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closePayment()">&times;</button>
            </div>            
            <div class="modal-body">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-heading display-table">
                        <div class="row display-tr">
                            <div class="display-td">
                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="form.pay" ng-submit="pay()">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="cardNumber">CARD NUMBER</label>                                        
                                        <input type="tel" class="form-control" name="cardNumber" ng-model="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number" required autofocus />                                        
                                        <p ng-show="form.pay.cardNumber.$invalid && !form.pay.cardNumber.$pristine" class="help-block">Card Number is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="cardExpiry"><span class="visible-xs-inline">EXP</span> DATE</label>
                                        <input type="tel" class="form-control" name="cardExpiry" ng-model="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
                                        <p ng-show="form.pay.cardExpiry.$invalid && !form.pay.cardExpiry.$pristine" class="help-block">Card Number is required.</p>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group ">
                                        <label for="cardCVC">CV CODE</label>
                                        <input type="tel" class="form-control" name="cardCVC" ng-model="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
                                        <p ng-show="form.pay.cardCVC.$invalid && !form.pay.cardCVC.$pristine" class="help-block">Card Number is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="subscribe btn btn-success btn-lg btn-block" type="submit" ng-disabled="form.pay.$invalid">Checkout</button>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <div class="col-xs-12">
                                    <p class="payment-errors"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

