<div class="modal-fade">
    <div class="modal-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeDetails()">&times;</button>
                <h4 class="modal-title">Details Product</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <img style="max-width:100%;" ng-src="../../../images/{{details.ImagePath}}" />
                        </div>
                        <div class="col-xs-6" style="border:0px solid gray">
                            <!-- Titulo del producto -->
                            <h3>{{details.Name}}</h3>
                            <!-- Precios -->
                            <h6 class="title-price"><small>PRICE</small></h6>
                            <h3 style="margin-top:0px;">{{details.Price | currency}} (MXN)</h3>
                        </div>
                        <div class="col-xs-11">
                            <br/>
                            <br/>
                            <ul class="menu-items">
                                <li>Description</li>
                            </ul>
                            <div style="width:100%;border-top:1px solid silver">
                                <p>
                                    <small>
                                        {{details.Description}}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>