<style>
     .modal-login .form-control {
		padding-left: 5px;
	}
</style>

<div class="modal-fade">
    <div class="modal-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeUpdate()">&times;</button>
            </div>
            <form name="form.productForm" ng-submit="update()" novalidate>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="productname">PRODUCT NAME</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" ng-model="details.ProductName" required autofocus />
                                <p ng-show="form.productForm.productname.$invalid && !form.productForm.productname.$pristine" class="help-block">Product Name is required.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7 col-md-7">
                        <div class="form-group">
                            <label for="price">PRICE</label>
                            <input type="number" class="form-control" name="price" ng-model="details.ProductPrice" required ng-pattern="/^[0-9]{1,7}$/">
                            <span ng-show="form.productForm.price.$error.pattern">Not a valid number!</span>
                            <p ng-show="form.productForm.price.$invalid && !form.productForm.price.$pristine" class="help-block">Price is required.</p>
                        </div>
                    </div>
                    <div class="col-xs-5 col-md-5 pull-right">
                        <div class="form-group">
                            <label for="category">CATEGORY</label>
                            <select name="category" class="form-control" ng-model="details.ProductCategoryID" ng-options="cat.Name as cat.Name for cat in categories | orderBy:'CategoryID' "/>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="description">DESCRIPTION</label>
                            <textarea class="form-control" name="description" ng-model="details.ProductDescription"></textarea>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="description">Image</label>
                            <input type="file" class="form-control" name="image" ng-model="details.ProductImagePath">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="subscribe btn btn-success btn-lg btn-block" ng-disabled="form.productForm.$invalid">Update</button>  
                    </div>
                </div>
                <div class="row" style="display:none;">
                    <div class="col-xs-12">
                        <p class="payment-errors"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 