<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("ShoppingCart", "Home")">
            Shopping Cart
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Login", "Home")" >
            Log in
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
        </a>
    </li>
</ul>

